@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Noto+Sans+JP:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1A1A2E;
}

.wrapper-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  padding-left: 4rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #16213E;
}

.app-title {
  font-size: 2rem;
  color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-title p {
  font-family: 'Cinzel', serif;
  font-weight: 500;
}

.app-title .fas {
  font-size: 3rem;
  color: #e7e7e7;
  padding-left: 1.5rem;
}

.app-title {
  cursor: pointer;
}

.search-field {
  width: 18rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  color: #e7e7e7;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  padding-left: 1.5rem;
  border: 0.01rem solid #fff;
  cursor: pointer;
}

.search-field::-webkit-input-placeholder {
  color: #e7e7e7;
}

.search-field:-ms-input-placeholder {
  color: #e7e7e7;
}

.search-field::-ms-input-placeholder {
  color: #e7e7e7;
}

.search-field::placeholder {
  color: #e7e7e7;
}

.search-field:focus {
  outline: none;
  background-color: #1A1A2E;
}

main {
  font-family: 'Noto Sans JP', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4rem;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: #16213E;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.movie img {
  width: 100%;
}

.movie__info {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: .1rem;
}

.movie__info h3 {
  padding-bottom: .5rem;
  font-size: .9rem;
  font-weight: 100;
  width: 75%;
}

.rating-color {
  font-size: 1.5rem;
}

.rating-color.green {
  color: greenyellow;
}

.rating-color.orange {
  color: orange;
}

.rating-color.red {
  color: red;
}

.movie__overview {
  background-color: #e7e7e7;
  padding: 1.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(120%);
  -webkit-transform: translateY(120%);
  -moz-transform: translateY(120%);
  -ms-transform: translateY(120%);
  -o-transform: translateY(120%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  font-size: .9rem;
}

.movie__overview h3 {
  color: red;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.movie:hover .movie__overview {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

@media screen and (max-width: 600px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .app-title {
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
  }
  .app-title .fas {
    font-size: 2rem;
    color: #e7e7e7;
    padding-left: 1rem;
  }
  .search-field {
    width: calc(100vw - 10%);
    height: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */