@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$backgroundColor-1: #1A1A2E;
$backgroundColor-2: #16213E;

$font-color-1: #e7e7e7;


$font-color-2: rgb(201, 201, 201);

$font-color-3: rgb(255, 0, 0);
$font-color-4: rgb(180, 168, 133);


body {
     background-color: $backgroundColor-1;
}

.wrapper-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    padding-left: 4rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundColor-2;
}

.app-title {
    font-size: 2rem;
    color: $font-color-1;
    display: flex;
    align-items: center;

    p {
        font-family: 'Cinzel', serif;
        font-weight: 500;
    }

    .fas {
        font-size: 3rem;
        color: $font-color-1;
        padding-left: 1.5rem;
    }
}

.app-title {
    cursor: pointer;
}

.search-field {
    width: 18rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: $font-color-1;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 1.5rem;
    border: 0.01rem solid #fff;
    cursor: pointer;
    

    &::-webkit-input-placeholder {
        color: $font-color-1;
    }

    &::-moz-placeholder {
        color: $font-color-1;
    }

    &:-ms-input-placeholder {
        color: $font-color-1;
    }

    &::-ms-input-placeholder {
        color: $font-color-1;
    }

    &::placeholder {
        color: $font-color-1;
    }

    &:focus {
        outline: none;
        background-color: $backgroundColor-1;
    }
}


//MAIN SECTION 


main {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}


.movie {
    width:300px;
    margin: 1rem;
    background-color: $backgroundColor-2;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    img {
        width: 100%;
    }

}

.movie__info {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: $font-color-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .1rem;


    h3 {
        padding-bottom: .5rem;
        font-size: .9rem;
        font-weight: 100;
        width: 75%;
        
    }
}

.rating-color {
    font-size: 1.5rem;
}

.rating-color.green {
    color: greenyellow;
}

.rating-color.orange {
    color: orange;
}

.rating-color.red {
    color: red;
}

.movie__overview {
    background-color: $font-color-1;
    padding: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transition: transform 0.4s ease-in-out;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    font-size: .9rem;    

    h3 {
        color: red;
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
}

.movie:hover .movie__overview {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}



// MEDIA QUERIES


@media screen and (max-width: 600px) {

    header {
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
        align-items: center;
    }

    
    
.app-title {

    padding-bottom: 1.5rem;

    font-size: 1.3rem;
      .fas {
        font-size: 2rem;
        color: $font-color-1;
        padding-left: 1rem;
    }
}

.search-field {
    width: calc(100vw - 10%);
    height: 2.5rem;
   
   }

}

